body{
    margin: 0px;
    padding: 0px;
}

.box{
    font-size: 35px;
    text-align: center;
    min-height: 100px;
    color: rgb(26, 26, 26);
    background-color: rgb(24, 112, 170) ;
    border: 1px solid black;
    margin-bottom: 10px;
}